<!DOCTYPE html>
<html>
<head><title>Sign Up</title></head>
<body>
    <h1>Sign Up</h1>
    <form method="POST" enctype="multipart/form-data">
        <label>Username:</label>
        <input type="text" name="username"><br><br>
    
        <label>Password:</label>
        <input type="password" name="password"><br><br>
    
        <label>Avatar:</label>
        <input type="file" name="avatar"><br><br>
    
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
</body>
</html>